/*
    File created by Shanshan Chen
    CSS file for editLesson.jsp
 */

.add-delete-btn {
    margin: 3px 20px 0 20px;
    width: 200px;
}

#videoUploadOption {
    padding: 9px;
    font-size: 1.1em;
}

.inner {
    padding-top: 7%
}