/*
 *
 * Created by Shanshan Chen
 * File to dictate the general physical layout of the site (height, width, centering, alignment, etc.)
 *
 */

/* BASE STRUCTURE
 * with extra markup and styles for table-esque vertical and horizontal centering
 */

html,
body {
    height: 100%;
    background-color: #cecece;
}

body {
    color: #000;
    text-align: center;
    background-color: #cecece;
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, .5);*/
}

h1 {
    text-align: center;
}

h2 {
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, .5);*/
}

/*  */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    background-image: url("../media/blue-polygons.jpg"); /*Source: http://www.threepullpa.com/464170-navy-blue-polygon-background.html*/
    padding: 0 5% 5%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
    background-color: #cecece;
    border-radius: 20px;
}

.shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    /*color: #333;
    text-shadow: none; !* Prevent inheritance from `body` *!
    background-color: #fff;
    border: 1px solid #fff;*/
}

.text {
    text-align: left;
}

/* button groups*/
.add-btns-group {
    float: right;
    margin-right: 5px;
}

.add-btns-group > form {
    display: inline;
}

.outlinelist {
    text-align: left;
}

h3.subheading {
    margin-top: 30px;
    margin-bottom: 20px;
}

#my-signin2 {
    display: none;
}

#userEmail {
    display:inline;
}